
/*---------------------------------------/
#Footer
/---------------------------------------*/

footer {
    color: #fff;
    padding: 30px 30px;
    text-align: center;
    font-size: 0.8rem;
    background-color:  #3f2609;
}
footer a{
    color: #3f2609;
}